<footer class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
      <p class="pull-left">
        &copy; RecipeManager 2016
      </p>
      <p>
        <%= link_to "Something", "#", class: "pull-right" %>
      </p>
    </div>
  </div>
</footer>
